DB_HOST=localhost
DB_PORT=5432
DB_NAME=campofacil
DB_USER=postgres
DB_PASSWORD=suasenha

JWT_SECRET=coloque_um_segredo_longo_aqui

PORT=5000

FRONTEND_URL=http://localhost:3000

GEMINI_KEY=sua_chave_gemini_aqui
